<div class="container-home">
    <div class="container-preview">
        <!-- <div class="wrapper-bg_img">
            <img src="../../../assets/background/bg_home.jpg" alt="">
        </div> -->
        <div class="wrapper-logo">
            <img src="../../../assets/logo/basic_logo.png" alt="">
            <div class="wrapper-texts">
            <h1>Mercedes-Benz</h1>
            <h2>Élevez votre expérience de conduite à un niveau supérieur avec Mercedes-Benz : l'élégance, l'innovation et la performance à chaque virage.</h2>
            <span>
                <p>Découvrez nos nouveaux modèles</p>
                <i class="fi fi-rs-arrow-up-right-from-square"></i>
            </span>
            </div>
        </div>
    </div>
    <div class="container-new_models"></div>
</div>