@import '../../../styles.scss';

.container-models {
    width: 100%;
    height: 100vh;
    background: white;
    padding: 4rem 6rem 0 6rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;

    & h1 {
        font-family: $title-font;
        font-size: 2.5rem;
        font-weight: 400;
        min-height: 2.5rem;
        margin-bottom: 2rem;
    }

    & .container-content {
        width: 100%;
        height: 100%;
        // background: pink;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 20% 80%;

        & .container-brands {
            width: 100%;
            height: 100%;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: flex;

            & .wrapper-brands {
                width: 100%;
                height: 40%;
                background: pink;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-row: 100%;
                align-self: flex-end;

                & .brand {
                    width: min-content;
                    border: 2px solid black;
                }

                img {
                    width: 50%;
                }

                // & .brand {
                //     width: max-content;
                //     height: 100%;
                //     border: 2px solid $black;

                //     & img {
                //         width: 10%;
                //     }
                // }
            }
        }

        & .container-sort {
            width: 100%;
            height: 100%;
            // background: orange;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        & .container-models {
            width: 100%;
            height: 100%;
            // background: purple;  
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
}