<div class="container-models">
  <h1>Nos modèles</h1>
  <div class="container-content">
    <div class="container-brands">
      <div class="wrapper-brands">
        <div
          class="brand"
          *ngFor="let brand of getBrands()"
          [class.active]="getCurrentBrand() === brand"
        >
          <p *ngIf="brand.label">
            {{ brand.label }}<i *ngIf="brand.icon" class="{{ brand.icon }}"></i>
          </p>
          <app-svg-icon
            *ngIf="brand.logo"
            [svgPath]="brand.logo"
            [svgClass]="brand.name"
          ></app-svg-icon>
        </div>
      </div>
    </div>
    <div class="container-sort"></div>
    <div class="container-models"></div>
  </div>
</div>
